* {
  margin: 0;
  font-family: sans-serif;
}

header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
header .divlogo {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .divhome {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sec1 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FFFFFF, #D4E7FE);
}
.sec1 .main1 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.sec1 .main1 .button {
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: aliceblue;
  color: black;
  text-align: center;
  border: 1px solid #217BF4;
}
.sec1 .main1 .your {
  font-size: 50px;
  width: 500px;
}
.sec1 .main1 .pmore {
  width: 500px;
  color: grey;
}
.sec1 .main1 .flexbuttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec1 .main1 .flexbuttons .butabout {
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: #217BF4;
  color: white;
  text-align: center;
  border: 1px solid #217BF4;
}
.sec1 .main1 .flexbuttons .butinvite {
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: aliceblue;
  color: black;
  text-align: center;
  border: 1px solid #217BF4;
}

.sec2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.sec2 .inner1sec2 {
  display: flex;
  flex-direction: column;
}
.sec2 .inner1sec2 h1 {
  width: 500px;
  font-size: 50px;
}
.sec2 .inner1sec2 .precent {
  width: 500px;
  color: grey;
}

.sec3 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.sec3 .inner1sec3 {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
.sec3 .inner1sec3 .pthan {
  width: 250px;
  color: grey;
}
.sec3 .inner1sec3 .people {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec3 .inner3sec3 {
  display: flex;
  flex-direction: column;
}
.sec3 .inner3sec3 .hwe {
  width: 360px;
  font-size: 35px;
}
.sec3 .inner3sec3 .pthe {
  width: 360px;
  color: grey;
}
.sec3 .inner3sec3 .pme {
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: #217BF4;
  color: white;
  text-align: center;
  border: 1px solid #217BF4;
}

.sec4 {
  max-width: 1400px;
  margin: auto;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 40px 0;
}
.sec4 .pcom {
  text-align: center;
  color: #217BF4;
}
.sec4 .hmain {
  text-align: center;
  font-size: 40px;
}
.sec4 .pwise {
  text-align: center;
  width: 400px;
  margin: auto;
  color: grey;
}
.sec4 .divide {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.sec4 .divide .inner1sec4 {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.sec4 .divide .inner1sec4 p {
  color: grey;
}

.sec5 {
  max-width: 1400px;
  margin: auto;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 40px 0;
}
.sec5 .team {
  text-align: center;
  color: #217BF4;
}
.sec5 .active {
  text-align: center;
  font-size: 40px;
}
.sec5 .pwhen {
  text-align: center;
  width: 400px;
  margin: auto;
  color: grey;
}
.sec5 .option {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
  align-items: center;
  width: 600px;
  background: #D4E7FE;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 30px;
}
.sec5 .option .pactive2 {
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: #217BF4;
  color: white;
  text-align: center;
  border: 1px solid #217BF4;
}
.sec5 .cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.sec5 .cards .card {
  width: 300px;
}/*# sourceMappingURL=style.css.map */